body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-image: url("images/marble-surface-2341290.jpg");
  /* Full height */
  /* height: 100%; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .App {
  background-image: url("images/marble-surface-2341290.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

body,
html {
    height: 100%;
    margin: 0;
}


/* 
.profile-photo {
    background-color: #e7cebf;
    opacity: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #66758c;
}

.off-canvas .off-canvas-sidebar {
    width: 18rem;
    opacity: 0.8;
} */