.profile-photo {
    /* background-color: #29263d; */
    background-color: #f5f0e1;
    opacity: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #66758c;
}

.sidenav .user-view .circle {
    height: 150px;
    width: 150px;
}

.sidenav img{
    margin-left: 30px;
    text-align: center;
}

.sidenav {
    width: 18rem;
    /* opacity: 0.8; */
    background-color: #1e3d59;
    /* color: #fff; */
}
.sidenav li>a {
    color: #fff;
}
/* .off-canvas {
    width: 18rem;
} */
.tile{
    line-height:20px;
    color: #fff;
    padding: 5px;
}
/* #sidebar-id{
    width: 18rem;
} */

hr{
    border: 1px solid #d28f79;
}

.nav .nav-item a {
    color: #fff;
}

.nav .nav-item.active>a {
    color: #d28f79;
    font-weight: 700;
}

.nav .nav-item>a:hover{
    color: #d28f79;
}

.nav{
    padding: 10px;
}
.card {
    background-color: #1e3d59;
}
.card-content{
    line-height: 1.5;
}

.collection {
    /* margin: .5rem 0 1rem 0; */
    border: 0;
    /* border-radius: 2px;
    overflow: hidden;
    position: relative; */
}



.collection.with-header .collection-header {
    background-color: #1e3d59;
    border-bottom: 0;
}
.collection .collection-item {
    background-color: #1e3d59;
    /* line-height: 1.5rem;
    padding: 10px 20px; */
    margin: 0;
    border-bottom: 0;
}